<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/daisyui"></script>
  </head>
  <body class="bg-base-200 p-10">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-3xl font-bold mb-6">{{ .Title }}</h1>
      <div class="grid grid-cols-1 gap-6">
        {{ range .Pages }}
        <div class="bg-white p-6 rounded shadow">
          <h2 class="text-2xl font-semibold mb-2">
            <a href="{{ .RelPermalink }}" class="text-blue-500 hover:underline">{{ .Title }}</a>
          </h2>
          <p>{{ .Params.description }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>